<mat-dialog-content>
  <div class="p-[20px]">
    <div  class="flex flex-col gap-4">
      <p class="text-foreground font-semibold">Inversionasistas</p>

      <div>
        <form  [formGroup]="saveForm" class="flex flex-col gap-6">
          <div class="flex flex-col">
          
            <div class="flex flex-col gap-2">
              <p class="text-foreground text-[11px] font-medium">Nombre:</p>
              <input
                class="py-2 pl-8 pr-2"
                placeholder="Nombre"
                type="text"
                formControlName="full_name" 
              />
              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.full_name">
                  <div class="error-message" *ngIf="saveForm.get('full_name').hasError(error.type) && (saveForm.get('full_name').dirty || saveForm.get('full_name').touched)">
                    {{error.message}}
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="flex flex-col gap-2">
              <p class="text-foreground text-[11px] font-medium">Inversión Inicial:</p>
              <input
                class="py-2 pl-8 pr-2"
                placeholder="Inversión Inicial"
                formControlName="initial" 
                type="text"
                inputmode="numeric" 
                mask="separator.2"          
                decimalMarker="."
              />
              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.initial">
                  <div class="error-message" *ngIf="saveForm.get('initial').hasError(error.type) && (saveForm.get('initial').dirty || saveForm.get('initial').touched)">
                    {{error.message}}
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="flex flex-col gap-2">
              <p class="text-foreground text-[11px] font-medium">% Comisión:</p>
              <input
                class="py-2 pl-8 pr-2"
                placeholder="% Comisión"
                formControlName="commission" 
                type="text"
                inputmode="numeric" 
                mask="separator.2"          
                decimalMarker="."
              />
              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.commission">
                  <div class="error-message" *ngIf="saveForm.get('commission').hasError(error.type) && (saveForm.get('commission').dirty || saveForm.get('commission').touched)">
                    {{error.message}}
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="flex flex-col gap-2">
              <label for="sexo" class="text-foreground text-[11px] font-medium">Estatus:</label>
              <div class="relative">
                <select 
                  formControlName="status"
                  class="w-full py-2 pl-8 pr-10 rounded-md
                        bg-background text-foreground
                        border border-border
                        focus:outline-none focus:ring-2 focus:ring-primary/50
                        appearance-none [color-scheme:dark]"
                >
                  <option value="" disabled selected hidden>Selecciona…</option>

                  <option *ngFor="let s of status" [value]="s">
                    <span *ngIf="s == 'active'">Activo</span>
                    <span *ngIf="s == 'inactive'">Inactivo</span>
                  </option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
</mat-dialog-content>


<mat-dialog-actions align="end">
  <div class="flex gap-2 p-[20px]">
    <app-button [loading]="loading" (click)="save()" full impact="bold" tone="primary" shape="rounded" size="medium">Guardar</app-button>
    <app-button [disabled]="loading"  mat-dialog-close full impact="bold" tone="primary" shape="rounded" size="medium">Cerrar</app-button>
  </div>
</mat-dialog-actions>