<mat-dialog-content>
  <div class="p-[20px]">
    <!-- New Action-->
    <div  class="flex flex-col gap-4">
      <p class="text-foreground font-semibold">Sucursales</p>

      <div>
        <form  [formGroup]="saveForm" class="flex flex-col gap-6">
          <div class="flex flex-col">
          

            <div class="flex flex-col gap-2">
              <p class="text-foreground text-[11px] font-medium">Titulo:</p>
              <input
                class="py-2 pl-8 pr-2"
                placeholder="Titulo"
                type="text"
                formControlName="name" 
              />
              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.name">
                  <div class="error-message" *ngIf="saveForm.get('name').hasError(error.type) && (saveForm.get('name').dirty || saveForm.get('name').touched)">
                    {{error.message}}
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="flex flex-col gap-2">
              <p class="text-foreground text-[11px] font-medium">Direccion:</p>
              <input
                class="py-2 pl-8 pr-2"
                placeholder="Direccion"
                type="text"
                formControlName="address_street_1" 
              />
              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.address_street_1">
                  <div class="error-message" *ngIf="saveForm.get('address_street_1').hasError(error.type) && (saveForm.get('address_street_1').dirty || saveForm.get('address_street_1').touched)">
                    {{error.message}}
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="flex flex-col gap-2">
              <p class="text-foreground text-[11px] font-medium">Telefono:</p>
              <input
                class="py-2 pl-8 pr-2"
                placeholder="Telefono"
                type="text"
                formControlName="phone" 
              />
              <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.phone">
                  <div class="error-message" *ngIf="saveForm.get('phone').hasError(error.type) && (saveForm.get('phone').dirty || saveForm.get('phone').touched)">
                    {{error.message}}
                  </div>
                </ng-container>
              </div>
            </div>

            <div class="flex flex-col gap-2" *ngIf="data.row">
              <label for="sexo" class="text-foreground text-[11px] font-medium">Estatus:</label>
              <div class="relative">
                <select 
                  formControlName="status"
                  class="w-full py-2 pl-8 pr-10 rounded-md
                        bg-background text-foreground
                        border border-border
                        focus:outline-none focus:ring-2 focus:ring-primary/50
                        appearance-none [color-scheme:dark]"
                >
                  <option value="" disabled selected hidden>Selecciona…</option>

                  <option *ngFor="let s of status" [value]="s">
                    <span *ngIf="s == 'active'">Activo</span>
                    <span *ngIf="s == 'inactive'">Inactivo</span>
                  </option>
                </select>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
  
</mat-dialog-content>


<mat-dialog-actions align="end">
  <div class="flex gap-2 p-[20px]">
    <!--[loading]="loading"-->
    <app-button [loading]="loading" (click)="save()" full impact="bold" tone="primary" shape="rounded" size="medium">Guardar</app-button>
    <app-button [disabled]="loading"  mat-dialog-close full impact="bold" tone="primary" shape="rounded" size="medium">Cerrar</app-button>

  </div>
</mat-dialog-actions>