<div class="mb-4 flex justify-between" >
  <div class="inline-block">
    <h3 class="text-foreground font-semibold">Clientes</h3>
    <div class="text-muted-foreground space-x-1 text-xs font-medium">
      <a href="" class="hover:text-primary">Todos los clientes:</a>
      <span class="text-foreground">{{ total }}</span>
    </div>
  </div>
  <div class="inline-block space-x-4">
    <button 
      *ngIf="permissionsService.hasScope('CLIENT.ADD')"
      class="bg-primary text-primary-foreground flex-none rounded-md px-4 py-2.5 text-xs font-semibold"
      (click)="openModal('new', null)"
    >
      Nuevo
    </button>
  </div>
</div>

<div class="mb-4 flex flex-wrap gap-3 justify-end items-end w-full">
  <div class="flex flex-col gap-2">
    <label class="text-foreground text-[11px] font-medium">Buscar:</label>
    <button
      type="button"
      class="bg-primary text-primary-foreground flex items-center justify-center rounded-md h-[34px] w-[40px] min-w-[40px]"
      (click)="filterGo()"
    >
      <mat-icon class="text-[20px] leading-none">search</mat-icon>
    </button>
  </div>

  <div class="flex flex-col gap-2 min-w-[150px]">
    <label class="text-foreground text-[11px] font-medium">Nombre:</label>
    <input
      type="text"
      placeholder="Nombre"
      class="h-[32px] px-3 rounded-md border border-border bg-background text-foreground text-[13px]"
      [formControl]="fullNameFilterControl"
    />
  </div>

  <div class="flex flex-col gap-2 min-w-[150px]">
    <label class="text-foreground text-[11px] font-medium">Teléfono:</label>
    <input
      type="text"
      placeholder="Teléfono"
      class="h-[32px] px-3 rounded-md border border-border bg-background text-foreground text-[13px]"
      [formControl]="phoneFilterControl"
    />
  </div>

  <div class="flex flex-col gap-2 min-w-[150px]">
    <label class="text-foreground text-[11px] font-medium">RFC:</label>
    <input
      type="text"
      placeholder="RFC"
      class="h-[32px] px-3 rounded-md border border-border bg-background text-foreground text-[13px]"
      [formControl]="rfcFilterControl"
    />
  </div>
</div>

<app-table
  [actions]="actions"
  [data]="clients"
  [headers]="clientsHeader"
  [loading]="loading"
  [error]="error"
  [hasNext]="hasNext"
  [hasPrev]="hasPrev"
  [total]="total"
  [totalPages]="totalPages"
  [pages]="pages"
  [anchorsNext]="anchorsNext"
  [currentPage]="currentPage"
  [dataFilterColumns]="columns"
  (pageSizeSelectReturn)=pageSizeSelectReturn($event)
  (currentPageReturn)=currentPageReturn($event)
  (changePageNextPrevReturn)=changePageNextPrev($event)
  (searchData)=searchData($event)
  (action)="onRowAction($event)"
></app-table>


